
body {
    background-image: url(../forumIMG/22-sfondo-multicolori.jpg);
}

.navbar-default{
 background-color: #b3d0e9;
}

.divcentrato{
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    padding-left: 20px; 
    border-radius: 20px;
}

.box {
width: auto;
height: 125px;
margin-right: 25%;
overflow: auto;
border: 1px solid #428bca;
padding: 2px;
text-align: justify;
background: #fff;
}