<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>filtro</filter-name>
        <filter-class>filtro_package.filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filtro</filter-name>
        <url-pattern>/servletLogout</url-pattern>
        <url-pattern>/servletMainPage</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>servletCheckLogin</servlet-name>
        <servlet-class>servlet_package.ServletCheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListaGruppi</servlet-name>
        <servlet-class>servlet_package.ServletListaGruppi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletListaGruppi</servlet-name>
        <url-pattern>/servletListaGruppi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletEditGruppo</servlet-name>
        <servlet-class>servlet_package.ServletEditGruppo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletCheckLogin</servlet-name>
        <url-pattern>/servletCheckLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servlet_package.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletLoginFail</servlet-name>
        <servlet-class>servlet_package.ServletLoginFail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLoginFail</servlet-name>
        <url-pattern>/servletLoginFail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletLogout</servlet-name>
        <servlet-class>servlet_package.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogout</servlet-name>
        <url-pattern>/servletLogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletMainPage</servlet-name>
        <servlet-class>servlet_package.ServletMainPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletMainPage</servlet-name>
        <url-pattern>/servletMainPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletUpload</servlet-name>
        <servlet-class>servlet_package.ServletUpload</servlet-class>
        <init-param>
            <param-name>uploadDir</param-name>
            <param-value>C:\\Users\\Mirko\\Documents\\GitHub\\forum\\WebForum\\web\\forumIMG\\</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletUpload</servlet-name>
        <url-pattern>/servletUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletDatiUtente</servlet-name>
        <servlet-class>servlet_package.ServletDatiUtente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDatiUtente</servlet-name>
        <url-pattern>/servletDatiUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEditGruppo</servlet-name>
        <url-pattern>/servletEditGruppo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>"jdbc:derby://localhost:1527/DBforum"</param-value>
    </context-param>
</web-app>
