<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet_package.ServletCheckLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servlet_package.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletLogout</servlet-name>
        <servlet-class>servlet_package.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogout</servlet-name>
        <url-pattern>/servletLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>"jdbc:derby://localhost:1527/DBforum"</param-value>
    </context-param>
</web-app>
